.custom-pagination-container{
  display: flex;
  align-items: center;
  font-size: 0.5rem;
  .opera-page{
    font-size: 0.4375rem;
    font-weight: 600;
    color: #666666;
    span{
      cursor: pointer;
      display: inline-block;
      width: 40px;
      border: 1px solid;
      text-align: center;
      color: #828282;
      border-radius: 2px;
      height: 28px;
      line-height: 28px;
      font-weight: 600;
      min-width: auto;
      font-size: 0.5625rem;
    }
  }

  .el-pagination {
    width: 100%;
    padding: 0;
    color: rgb(102, 102, 102);
    text-align: right;
    .el-pager li:not(.disabled).active {
      background-color: rgb( 3, 114, 248);
      border: none;
    }
    .el-pager li:not(.disabled) {
      border:1px solid #bbb;
    }
    .el-pagination__total{
      position: absolute;
      left: 0;
    }
    button{
      border: 1px solid #bbb;
    }
  }
}