#menu-left-container{
  display: inline-block;
  width: 1.5625rem;
  background-color: rgb(127, 183, 252);
  float: left;
  .active{
    background-color: #fff;
  }
  div{
    text-align: center;
    padding: 0.3125rem 0;
    margin: 5vh 0;
    svg{
      width: 1.40625rem !important;
      height: 0.9375rem !important;
      position: relative;
      left: -0.15625rem;
    }
  }
}