/deep/
.edit-dialog-container{
  .form-container{
    width: 90%;
    margin: 0 auto;
    .el-form-item{
      .el-form-item__label{
        width: 80px !important;
        text-align-last: justify;
      }

      .el-form-item__content{
        div{
          width: 95%;
        }
        .el-select {
          width: 100%;
          position: absolute;
          top: 0;
        }
      }

      .el-input__inner{
        color: #199fec;
      }
    }
  }

  .el-dialog__footer{
    button:first-child{
      margin-right: 50px;
    }
    button:last-child{
      margin-left: 50px;
    }
  }
}