#header-container{
  height: 50px;
  width: 100%;
  background-color: rgb(3, 114, 248);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  >div{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 5px;
  }
  >img{
    width: 25px;
    height: 25px;
  }
}