/deep/
.deploy-dialog-container{
  .el-dialog__header{
    padding: 10px;
    background-color: rgb(38, 125, 231);
    line-height: 16px;
    .el-dialog__title{
      font-weight: 600;
      color: #fff;
    }
  }

  .el-dialog__body{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    .content{
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        width: 100px;
      }
      div{
        width: 300px;
      }
      .el-input__inner{
        box-shadow: @divShadow;
        border: none;
      }
    }
    .tip{
      color: red;
      font-size: 14px;
      text-align: center;
    }
  }

  .el-dialog__footer{
    display: flex;
    align-content: center;
    justify-content: space-around;
  }
}