#right-container{
  flex: 1;
  .top{
    height: 8vh;
  }

  .monitor-container{
    .operate{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 2vh auto;
      .left{
        display: flex;
        align-items: center;
        .text{
          margin-right: 15px;
          .sub{
            font-size: 14px;
          }
        }
        /deep/
        .el-switch{
          .el-switch__label{
            span{
              font-size: 14px;
            }
          }
          .el-switch__label--left{
            left: 40px;
          }
        }
      }

      .right{
        display: flex;
        align-items: center;
        .label{
          font-size: 14px;
          margin-right: 10px;
        }
        .layout{
          width: 150px;
          height: 35px;
          border-radius: 20px;
          box-shadow: @divShadow;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          .layout-one{
            display: flex;
            align-items: center;
            justify-content: center;
            span{
              width: 15px;
              height: 15px;
            }
          }
          .layout-two{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            span{
              width: 15px;
              height: 6px;
            }
          }
          .layout-three{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            span{
              width: 8px;
              height: 7px;
            }
          }
          .active{
            border-color: rgb(3, 114, 248);
            span{
              background-color: rgb(3, 114, 248);
            }
          }
          >div{
            width: 25px;
            height: 25px;
            border-radius: 5px;
            border:1px solid #a9a9a9;
            cursor: pointer;
            span{
              background-color: rgb(160, 160, 160);
              display: inline-block;
              border-radius: 1px;
            }
          }
        }
      }
    }

    .monitor-content{
      position: relative;
      height: 72vh;
      .monitor-item{
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: relative;
        .operate-content{
          background-color: rgb(3, 114, 248);
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #fff;
          padding: 5px;
          height: 35px;
          position: absolute;
          width: 100%;
          bottom: 0;
          z-index: 99999999999999999999999999;
        }
        .exception{background-color: rgb(216, 0, 0);}

        .operate-video-btn{
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
          transform: translate(-50%, -50%);
        }

        /deep/
        .video-player{
          background-image: url("~@/assets/supervise-public.jpeg");
          background-size: 100% 100%;
          height: 100%;
          width: 100%;
          object-fit:fill;
        }
      }
    }
    .monitor-content.one{
      position: relative;
      .monitor-item{
        width: 100%;
        height: 100%;
      }
    }
    .monitor-content.two{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .monitor-item{
        width: 100%;
        height: 49%;
      }
    }
    .monitor-content.three{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .monitor-item{
        width: 49%;
        height: 48%;
        margin-bottom: 2%;
      }
      .monitor-item:nth-child(4n),.monitor-item:nth-child(4n-1){
        margin-bottom: 0%;
      }
    }
  }
}