#warning-census-container{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 11%;
    border-radius: 5px;
    .img{
      width: 1.09375rem;
      height: 1.09375rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .label{
      color: inherit;
      font-size: 12px;
      margin: 0 5%;
    }
    .count{
      font-size: 0.625rem;
      letter-spacing: 2px;
      color: inherit;
    }
  }
  .item:nth-child(5){
    width: 13%;
  }

  .normal{
    color: #7d7d7d;
    background-color: #fff;
    box-shadow: @inputShadow;
    .img{
      background-color: rgb(205, 205, 205);
    }
  }

  .active{
    color: #fff;
    background:linear-gradient(to bottom, rgb(255, 188, 92), rgb(255, 123, 54), rgb(255, 58, 15));
    .img{
      background-color: rgb(255, 175, 131);
    }
  }
}